<div>
  <h1>Detailed Page</h1>
  Name of the visitor is: <strong><%= visitors.name%></strong>
  Room Number is: <strong><%= visitors.room_no%></strong>
  Details: <strong><%= visitors.description%></strong>
  Date of Arrival <strong><%= visitors.date_of_arrival%></strong>


</div>
